/* About badges intro */

.section {
  height: 100%;
}


.about-badges__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding-top: 160px;
  padding-bottom: 4%;
}

.about-badges__container p {
  font-family: "Work Sans", sans-serif;
  font-size: 1.2rem;
  font-weight: 300;
}

.about-badges__title-container {
  line-height: 1.3;
}

.about-badges__title {
  font-size: 2.4rem;
  /* font-weight: 700; */
  color: var(--dark-blue);
  font-family: "Mulish", sans-serif;
}

.about-badges__text-container {
  width: 70%;
  margin-top: 4%;
}

.about-badges__body-text {
  text-align: center;
}

.about-badges__container button {
  margin-top: auto;
  background-color: var(--dark-blue);
}

/* Images */

.badge1__img-container,
.badge2__img-container,
.badge3__img-container,
.badge4__img-container img {
  max-width: 32vw;
  min-width: 320px;
}

.badge-title {
  text-align: center;
  padding-top: 80px;
  /* font-size: 2.4rem; */
  /* font-weight: 700; */
  line-height: 1.3;
  color: var(--dark-blue);
  font-family: "Mulish", sans-serif;
}

.badge-container {
  padding-top: 80px;
}

.badge__text-container {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Work Sans", sans-serif;
  font-size: 1.2rem;
  font-weight: 300;
}

.badge__text-container p {
  margin: 0 0 16px 0;
  text-align: left;
  padding: 20px 20px 20px 20px;
}

.badge__img-container {
  /* width: 32%; */
  min-width: 260px;
  display: flex;
  justify-content: center;
}

.badge__img-container img {
  max-width: 200px;
}

/* Badge 1 */

.content1-container {
  display: flex;
  flex-direction: center;
  justify-content: center;
  margin-top: 60px;
  gap: 48px;
}

@media (max-width: 900px) {
  .content1-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  .badge__text-container {
    width: 92%;
    text-align: center;
  }
}

/* Badge 2 */

.content2-container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  margin-top: 60px;
  gap: 48px;
}

@media (max-width: 900px) {
  .content2-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  .badge__text-container {
    width: 92%;
  }

  .badge__text-container p{
    text-align: center;
  }
}

/* Badge 3 */

.content3-container {
  display: flex;
  flex-direction: center;
  justify-content: center;
  margin-top: 60px;
  gap: 48px;
}

@media (max-width: 900px) {
  .content3-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  .badge__text-container {
    width: 92%;
    text-align: center;
  }
}

/* Badge 4 */

.content4-container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  margin-top: 60px;
  padding-bottom: 140px;
  gap: 48px;
}

@media (max-width: 900px) {

  .badge-container{
    position: relative;
    height: fit-content;
  }

  .content4-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  .badge__text-container {
    width: 92%;
    text-align: center;
  }
}
