/* .blue {
  border-style: none;
  background-color: rgb(71, 71, 250);
  font-size: 20px;
  color: azure;
  margin: 10px;
  padding: 10px;
  border-radius: 8px;
}

.orange {
  border-style: none;
  background-color: rgb(250, 178, 71);
  font-size: 20px;
  color: azure;
  margin: 10px;
  padding: 10px;
  border-radius: 8px;
}

.purple {
  border-style: none;
  background-color: rgb(143, 26, 182);
  font-size: 20px;
  color: azure;
  margin: 10px;
  padding: 10px;
  border-radius: 8px;
}

.green {
  border-style: none;
  background-color: rgb(26, 182, 26);
  font-size: 20px;
  color: azure;
  margin: 10px;
  padding: 10px;
  border-radius: 8px;
}

.red {
  border-style: none;
  background-color: rgb(182, 26, 26);
  font-size: 20px;
  color: azure;
  margin: 10px;
  padding: 10px;
  border-radius: 8px;
} */


button {
  width: 190px;
  color: white;
  border-style: none;
  font-size: 20px;
  margin: 10px;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
}

.dark-blue {
  background-color: var(--dark-blue);
}