.congrats-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 160px;
}

.header {
  text-align: center;
  color: #302b70;
}

.cta {
  margin-left: 20%;
  margin-right: 20%;
  display: flex;
  flex-direction: row;
  gap: 40px;
}

.sub-head {
  color: hsl(10, 79%, 58%);
  padding: 40px;
}

.p-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
}

.pr {
  font-weight: 400;
  color: #302b70;
  font-size: 1rem;
  margin-bottom: 20px;
}

@media(max-width:800px){
  .cta{
    flex-direction: column;
    margin-top: 60px;
  }
}
