.header-container {
  background-color: var(--light-pink);
  position: relative;
  min-height: 800px;
  height: fit-content;
  /* position: relative; */
  /* overflow: scroll; */
}

.header-content {
  /* position: absolute;
  top: 80px; */padding-top: 80px;
  max-width: 1560px;
  height: fit-content;
  /* height: calc(100vh - 80px); */
  margin: 0 auto;
  /* padding-top: 80px; */
  padding-inline: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-content-container {
  height: calc(100vh - 80px);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 100px;
}

.header-left {
  width: 50%;
  padding-top: 2%;
}

.header-illustration-container {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-logo-container {
  margin-bottom: 24px;
}

.logo {
  width: 180px;
}

.header-title-container {
  margin-bottom: 28px;
}

.header-title {
  margin-bottom: 24px;
  font-size: 2.8rem;
  font-weight: 900;
  line-height: 1.3;
  color: var(--dark-blue);
  font-family: "Mulish", sans-serif;
}

.header-paragraph-container {
  padding: 0;
}

.header-paragraph {
  font-family: "Work Sans", sans-serif;
  font-size: 1.4rem;
  font-weight: 300;
}

.header-buttons-container {
  display: flex;
  margin-top: 80px;

  /* padding-bottom: 42px; */
}

.header-button {
  width: 240px;
  height: 54px;
  color: white;
  border-style: none;
  font-family: "Work Sans", sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
  padding: 10px;
  margin: 0px 28px 0px 0px;
  border-radius: 8px;
  cursor: pointer;
}

.dark-blue {
  background-color: var(--dark-blue);
}

.dark-pink {
  background-color: var(--dark-pink-hsl);
}

.dark-pink:hover {
  background-color: var(--dark-pink-hsl-darker);
}

@media (max-width: 1500px) {
  .header-content-container {
    padding-top: 120px;
  }

  .header-left {
    width: 55%;
  }

  .header-title {
    margin-bottom: 24px;
    font-size: 2.6rem;
    line-height: 1.2;
  }

  .header-paragraph {
    font-size: 1.3rem;
  }

  .header-illustration-container {
    width: 45%;
    padding-top: 24px;
  }

  .header-buttons-container {
    margin-top: 60px;
  }
}

@media (max-width: 1400px) {
  .header-content-container {
    padding-top: 130px;
  }

  .header-title {
    /* margin-bottom: 24px;
    font-size: 2.6rem;
    line-height: 1.2; */
  }

  .header-paragraph {
    /* font-size: 1.3rem; */
  }

  .header-illustration-container {
    /* width: 45%;
    padding-top: 24px; */
  }

  .header-buttons-container {
    /* margin-top: 60px; */
  }
}

@media (max-width: 1324px) {
  .header-content-container {
    padding-top: 140px;
  }

  .header-left {
    width: 55%;
  }

  .header-title {
    margin-bottom: 24px;
    font-size: 2.4rem;
    line-height: 1.2;
  }

  .header-paragraph {
    font-size: 1.2rem;
  }

  .header-illustration-container {
    width: 45%;
    padding-top: 24px;
  }

  .header-buttons-container {
    margin-top: 60px;
  }
}

@media (max-width: 1200px) {
  .header-content-container {
    padding-top: 140px;
  }

  .header-left {
    width: 55%;
    padding-top: 0px;
  }

  .header-title {
    margin-bottom: 24px;
    font-size: 2.4rem;
    line-height: 1.2;
  }

  .header-paragraph {
    font-size: 1.2rem;
  }

  .header-illustration-container {
    width: 45%;
    padding-top: 48px;
  }

  .header-buttons-container {
    margin-top: 48px;
  }

  .header-button {
    width: 200px;
    height: 46px;
    font-size: 1.1rem;
    padding: 10px;
    margin: 0px 20px 0px 0px;
  }
}

@media (max-width: 992px) {
  .header-content {
    padding-top: 120px;

    flex-direction: column;
    justify-content: flex-start;
  }

  .header-content-container {
    height: fit-content;
    padding-top: 48px;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }

  .header-left {
    width: 90%;
    justify-content: center;
    text-align: center;
    margin-bottom: 24px;
  }

  .header-illustration-container {
    width: 65%;
    padding-top: 48px;
    margin-bottom: 100px;
  }

  .header-buttons-container {
    margin-top: 60px;
    justify-content: center;
  }

  .header-button {
    margin: 0px 10px;
  }
}

@media (max-width: 768px) {

  .nav-logo{
    margin-left: 12px;
  }

  .header-left {
    width: 100%;
    margin-bottom: 24px;
  }

  .header-illustration-container {
    width: 80%;
    padding-top: 48px;
    margin-bottom: 100px;
  }
}

@media (max-width: 640px) {
  .header-content-container {
    padding-top: 24px;
  }
}

@media (max-width: 576px) {

  .header-content-container {
    padding-top: 0px;
  }

  .header-content {
    padding-inline: 24px;
  }

  .header-title {
    margin-bottom: 24px;
    font-size: 2.3rem;
    line-height: 1.2;
  }

  .header-paragraph {
    font-size: 1.1rem;
  }

  .header-left {
    width: 100%;
    margin-bottom: 24px;
  }

  .header-buttons-container {
    flex-direction: column;
    margin-top: 60px;
    justify-content: center;
  }

  .header-button {
    width: 100%;
    margin: 10px 0px;
  }

  .header-illustration-container {
    width: 90%;
  }
}
