.header-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header-buttons-container{
  display: flex;
}

.logo {
  width: 200px;
}

h1 {
  text-align: center;
  font-family: 'Mulish', sans-serif;
}
