.header-container {
  background-color: var(--light-pink);
  height: 100vh;

  /* display: flex;
  justify-content: center; */
}

.header-content {
  max-width: 1200px;
  height: 100%;
  margin: 0 auto;
  padding-inline: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.header-buttons-container {
  display: flex;
}

.logo {
  width: 200px;
}

h1 {
  margin-bottom: 30px;
  font-size: 2.5rem;
  font-weight: 700;
  color: var(--dark-blue);
  font-family: "Mulish", sans-serif;
}

p {
  margin-bottom: 30px;
  font-family: "work-sans", sans-serif;
  font-size: 1.2rem;
}

button {
  width: 190px;
  color: white;
  border-style: none;
  font-size: 20px;
  margin: 10px;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
}

.dark-blue {
  background-color: var(--dark-blue);
}

.dark-pink {
  background-color: var(--dark-pink);
}
