.about-us__main-container {
  /* height: 100%; */
  width: 100%;
  padding-bottom: 100px;
}

.about-us__main-container h2 {
  margin-bottom: 24px;
  /* font-size: 2.4rem; */
  /* font-weight: 700; */
  line-height: 1.3;
  color: var(--dark-blue);
  font-family: "Mulish", sans-serif;
}

.about-us__main-container p {
  font-family: "Work Sans", sans-serif;
  font-size: 1.2rem;
  font-weight: 300;
}

/* about us card styles */
.about-us__container {
  margin-left: 8%;
  margin-right: 8%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-right: 4%;
  padding-left: 4%;
  padding-bottom: 8%;
  padding-top: 160px;
  height: 100%;
}

.about-us__body-text {
  text-align: center;
  margin-top: 4%;
  font-family: "Work Sans", sans-serif;
  font-size: 1.2rem;
  font-weight: 300;
}

.about-us__body-text__container {
  margin-bottom: 80px;
}

.about-us__row-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 40px;
  margin-top: 40px;
  background-color: var(--light-blue);
  padding: 12px 24px 24px 24px;
  gap: 44px;
  width: 100%;
  color: var(--dark-blue);
  border-radius: 8px;

}

.about-us__card-container {
  padding: 24px;
  width: 240px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 8px;
  border-radius: 8px;

  margin: 8px;
  background-color: rgba(255, 255, 255);
  gap: 8px;
  margin-top: -32px;
}

.about-us__card-picture__container {
  display: flex;
  justify-content: center;
}

.about-us__card-picture {
  width: 72px;
  height: 72px;
  margin-bottom: 12px;
  background-color: bisque;
  border: 0;
  border-style: none;
  border-radius: 50%;
}

.about-us__card-link-container {
  display: flex;
  margin-top: 12px;
}

.about-us-line {
  width: 80%;
  border: 1px solid var(--light-blue);
  margin-top: 12px;
  margin-bottom: 12px;
}

.about-us__link {
  width: 50px;
  height: 50px;
  margin: 4px 4px 4px 4px;
}

@media(max-width: 800px){
  .about-us__container{
    margin-left: 2%;
    margin-right: 2%;
    padding-bottom: 4%;
  }
}

@media(max-width: 688px){
  .about-us__card-container{
    width: 100%;
  }
}