.about-us__main-container {
  height: 100%;
  width: 100%;
  padding-bottom: 100px;
}

.about-us__container {
  margin-left: 8%;
  margin-right: 8%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-right: 4%;
  padding-left: 4%;
  padding-bottom: 8%;
  padding-top: 160px;
  height: 100%;
}

.about-us__body-text {
  text-align: justify;
  margin-top: 8%;
}