@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro&family=Quicksand:wght@300;400;700&display=swap%27');

:root {
  --font-body: "Crimson Pro", serif;
  --font-btn: 'Quicksand', sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("../public/assets/bg-img.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0;
  margin: 0;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--font-body);
  background-color: rgba(247, 223, 201, 0.6);
  height: 100vh;
}

.logo {
  width: 20%;
}

.page-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 2%;
  width: 60%;
  padding: 5%;
  padding-top: 0%;
}

.body-text {
  font-size: 50px;
  text-align: center;
  color: #322743;
  margin-bottom: 28px;
}

.btn {
  background-color: #6c5cc6; /* Green */
  border: none;
  color: #ffffff;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 32px;
  font-family: var(--font-btn);
  padding-left: 48px;
  padding-right: 48px;
  border-radius: 12px;
  font-weight: 600;
  cursor: pointer;
}

.btn:hover {
  background-color: #524693;
}

.btn:active {
  background-color: #8072c6;
}