.company-container {
  background-color: var(--light-pink);
  height: 100vh;
  overflow: scroll;
}

.company-content-container {
  max-width: 1200px;
  height: 100vh;
  margin: 0 auto;
  padding-top: 120px;
  padding-inline: 48px;
}

.company-search-container {
  margin-bottom: 48px;
}

.company-filter-and-list-container {
  position: relative;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 60px;
}

.filters-container {
  grid-column: span 3;
}

.filterlist-container {
  margin-bottom: 40px;
}

.filterlist-title {
  margin-bottom: 10px;
}

.filterlist{
  list-style-type: none;
}

.company-list-container {
  grid-column: span 9;
  list-style-type: none;
}

.badges-container {
  margin-top: 24px;

  display: flex;
  flex-wrap: wrap;
}

.filter-badge {
  padding: 6px;
  margin-bottom: 4px;
  margin-right: 6px;
  background-color: var(--light-blue);
  border-radius: 24px;
  text-align: center;
}

.filter-badge p {
  font-size: 0.8rem;
}

label {
  display: flex;
  font-size: 0.9rem;
  line-height: 1;
  /* height: 20px; */
  align-items: center;
  margin-bottom: 10px;
}

input[type="checkbox"] {
  margin-right: 10px;
}
