.companies-container {
  background-color: var(--light-pink);
  height: 100vh;
  overflow: scroll;
}

.intro-container {
  max-width: 1200px;
  height: 100vh;
  margin: 0 auto;
  padding-top: 120px;
  padding-inline: 48px;
  display: flex;
  flex-direction: column;
  background-color: var(--light-pink);
  color: var(--dark-blue);
}

.companies-title {
  font-size: 2.2rem;
  margin-bottom: 40px;
  color: var(--dark-pink);
}

.companies-intro-paragraph{
  color: black;
}

.temp-button {
  width: 190px;
  color: white;
  border-style: none;
  font-family: "Work Sans", sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
  margin: 10px;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
  left: 0;
  right: 0;
  margin: auto;
}

.badges-dropdown-container{
  margin-top: 100px;
}

.badges-dropdown-container li{
  list-style-type: none;
}