.load {
  padding-top: 120px;
}

.signup {
  padding-top: 120px;
}

.input {
  display: flex;
  flex-direction: column;
}

.option {
  background-color: antiquewhite;
  color: aqua;
}
.warning {
  color: rgb(241, 30, 30);
}
