.questionnaire {
  /* margin: 20px; */
  padding: 120px;
}

.head-quest {
  /* padding: 120px; */
  color: #302b70;
}

.h-up {
  color: hsl(10, 79%, 58%);
  padding-top: 40px;
  padding-bottom: 40px;
}

.row {
  display: flex;
  flex-direction: row;
}

.check-section-q {
  display: flex;
  flex-direction: column;
  padding-top: 10;
}

.check-up-q {
  margin-top: 4px;
  margin-left: 10px;
  width: 16px;
  height: 16px;
  border: #302b70 solid 2px;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.check-up-q input {
  display: none;
}

.check-up-q .circle-q {
  width: calc(60%);
  height: calc(60%);
  background-color: hsl(10, 79%, 58%);
  border-radius: 50%;
  display: inline-block;
  opacity: 0;
  transition: opacity 0.6s ease;
}

.check-up-q input:checked + .circle-q {
  opacity: 1;
}

.p-quest {
  margin-bottom: 4px;
  padding-left: 0px;
  color: #302b70;
}

.confirm {
  padding: 10px;
  font-size: 16px;
}

.searchHead {
  padding-top: 60px;
  color: #302b70;
}

.company {
  padding: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search {
  display: flex;
  flex-direction: row;
  margin: 20px;
}

.input {
  margin: 10px;
  border: 2px solid #302b70;
  padding: 8px;
  border-radius: 8px;
  width: 80%;
}

.warning {
  margin: 40px;
  color: #fb5e3e;
}

.search-field li {
  list-style: none;
  color: #7b78ab;
  cursor: pointer;
  font-size: 12px;
}

.search-field li:hover {
  color: #302b70;
}

.btn-quest {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.head-confirm {
  color: #302b70;
  padding-bottom: 40px;
}
/* 
.confirm-section {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: flex-start;
} */

.h-quest {
  color: hsl(10, 79%, 58%);
  padding-top: 20px;
  padding-bottom: 20px;
}

.confirm-p {
  margin-left: -80px;
  color: #302b70;
}
