.container {
  height: 100%;
  width: 100%;
  padding-bottom: 100px;
}

.survey-intro__container {
  margin-left: 8%;
  margin-right: 8%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: 4%;
  padding-left: 4%;
  padding-top: 160px;
  height: 100vh;
}

.survey-intro__title {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.3;
  color: var(--dark-blue);
  font-family: "Mulish", sans-serif;
  text-align: center;
}

.survey-intro__body-container {
  width: 76%;
  min-width: 240px;
  font-family: "Work Sans", sans-serif;
  font-size: 1.5rem;
  font-weight: 300;
}

.category-list__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 4% 0 0% 0;
  margin-bottom: 80px;
}

.buttons {
  display: flex;
  gap: 16px;
  align-items: center;
  margin: 0 auto;
  padding-bottom: 6%;
  
}

@media (max-width: 460px) {
  .buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

div.fadeIn p,
h2 {
  animation: 0.8s fadeIn;
}

div.fadeIn {
  animation: 1.2s fadeIn;
}

div.fadeIn a {
  animation: 2s fadeIn;
}

.buttons button:hover {
  background-color: #1c1941;
}

.buttons button:active {
  background-color: #4c4a70;
}
