.container {
  background-color: var(--light-blue);
  height: 100%;
  width: 100%;
}

.survey-intro__container {
  margin-left: 8%;
  margin-right: 8%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--light-blue);
  padding-right: 4%;
  padding-left: 4%;
  padding-top: 4%;
  padding-bottom: 8%;
}

.survey-intro__body-container {
  width: 76%;
  height: 100%;
  min-width: 240px;

}

.category-list__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 8% 0 4% 0;
}

.survey-intro__category-list__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  font-size: 16px;
  width: 180px;
  height: 180px;
}
.survey-intro__category-list__item img {
  min-width: 20px;
  max-width: 80px;
}

.survey-intro__category-list__item p {
  /* font-family: ; */
}

.buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12%;
}

@media (max-width: 460px) {
    .buttons {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
}

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

div.fadeIn p, h2 {
  animation: 0.8s fadeIn;
}

div.fadeIn {
  animation: 1.2s fadeIn;
}

div.fadeIn a {
  animation: 2s fadeIn;
}

.buttons button:hover {
  background-color: #1c1941;
}

.buttons button:active {
  background-color: #4c4a70;
}